/**
 * League theme for reveal.js.
 *
 * This was the default theme pre-3.0.0.
 *
 * Copyright (C) 2011-2012 Hakim El Hattab, http://hakim.se
 */

@import url(../../lib/font/league-gothic/league-gothic.css);
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);
/*********************************************
 * GLOBAL STYLES
 *********************************************/

body {
    background: #1c1e20;
    background: -moz-radial-gradient(center, circle cover, #555a5f 0%, #1c1e20 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #555a5f), color-stop(100%, #1c1e20));
    background: -webkit-radial-gradient(center, circle cover, #555a5f 0%, #1c1e20 100%);
    background: -o-radial-gradient(center, circle cover, #555a5f 0%, #1c1e20 100%);
    background: -ms-radial-gradient(center, circle cover, #555a5f 0%, #1c1e20 100%);
    background: radial-gradient(center, circle cover, #555a5f 0%, #1c1e20 100%);
    background-color: #2b2b2b;
}

.reveal {
    font-family: "Lato", sans-serif;
    font-size: 40px;
    font-weight: normal;
    color: #eee;
}

::selection {
    color: #fff;
    background: #FF5E99;
    text-shadow: none;
}

::-moz-selection {
    color: #fff;
    background: #FF5E99;
    text-shadow: none;
}

.reveal .slides section, .reveal .slides section>section {
    line-height: 1.3;
    font-weight: inherit;
}

/*********************************************
 * HEADERS
 *********************************************/

.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
    margin: 0 0 20px 0;
    color: #eee;
    font-family: "League Gothic", Impact, sans-serif;
    font-weight: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-transform: uppercase;
    text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
    word-wrap: break-word;
}

.reveal h1 {
    font-size: 2.11em;
}

.reveal h2 {
    font-size: 1.55em;
}

.reveal h3 {
    font-size: 1em;
}

.reveal h4 {
    font-size: 0.8em;
}

.reveal h1 {
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 20px 20px rgba(0, 0, 0, 0.15);
}

/*********************************************
 * OTHER
 *********************************************/

.reveal p {
    margin: 20px 0;
    line-height: 1.3;
    text-shadow: 1px 1px 2px #000
}

/* Ensure certain elements are never larger than the slide itself */

.reveal img, .reveal video, .reveal iframe {
    max-width: 95%;
    max-height: 95%;
}

.reveal strong, .reveal b {
    font-weight: bold;
}

.reveal em {
    font-style: italic;
}

.reveal ol, .reveal dl, .reveal ul {
    display: inline-block;
    text-align: left;
    margin: 0 0 0 1em;
}

.reveal ol {
    list-style-type: decimal;
}

.reveal ul {
    list-style-type: disc;
}

.reveal ul ul {
    list-style-type: square;
}

.reveal ul ul ul {
    list-style-type: circle;
}

.reveal ul ul, .reveal ul ol, .reveal ol ol, .reveal ol ul {
    display: block;
    margin-left: 40px;
}

.reveal dt {
    font-weight: bold;
}

.reveal dd {
    margin-left: 40px;
}

.reveal blockquote {
    display: block;
    position: relative;
    width: 70%;
    margin: 20px auto;
    padding: 5px;
    font-style: italic;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
}

.reveal blockquote p:first-child, .reveal blockquote p:last-child {
    display: inline-block;
}

.reveal q {
    font-style: italic;
}

.reveal pre {
    display: block;
    position: relative;
    width: 90%;
    margin: 20px auto;
    text-align: left;
    font-size: 0.55em;
    font-family: monospace;
    line-height: 1.2em;
    word-wrap: break-word;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
}

.reveal code {
    font-family: monospace;
    text-transform: none;
}

.reveal pre code {
    display: block;
    padding: 5px;
    overflow: auto;
    max-height: 400px;
    word-wrap: normal;
}

.reveal table {
    margin: auto;
    border-collapse: collapse;
    border-spacing: 0;
}

.reveal table th {
    font-weight: bold;
}

.reveal table th, .reveal table td {
    text-align: left;
    padding: 0.2em 0.5em 0.2em 0.5em;
    border-bottom: 1px solid;
}

.reveal table th[align="center"], .reveal table td[align="center"] {
    text-align: center;
}

.reveal table th[align="right"], .reveal table td[align="right"] {
    text-align: right;
}

.reveal table tbody tr:last-child th, .reveal table tbody tr:last-child td {
    border-bottom: none;
}

.reveal sup {
    vertical-align: super;
    font-size: smaller;
}

.reveal sub {
    vertical-align: sub;
    font-size: smaller;
}

.reveal small {
    display: inline-block;
    font-size: 0.6em;
    line-height: 1.2em;
    vertical-align: top;
}

.reveal small * {
    vertical-align: top;
}

/*********************************************
 * LINKS
 *********************************************/

.reveal a {
    color: #13DAEC;
    text-decoration: none;
    -webkit-transition: color .15s ease;
    -moz-transition: color .15s ease;
    transition: color .15s ease;
}

.reveal a:hover {
    color: #71e9f4;
    text-shadow: none;
    border: none;
}

.reveal .roll span:after {
    color: #fff;
    background: #0d99a5;
}

/*********************************************
 * IMAGES
 *********************************************/

.reveal section img {
    margin: 15px 0px;
    background: rgba(255, 255, 255, 0.12);
    border: 4px solid #eee;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.reveal section img.plain {
    border: 0;
    box-shadow: none;
}

.reveal a img {
    -webkit-transition: all .15s linear;
    -moz-transition: all .15s linear;
    transition: all .15s linear;
}

.reveal a:hover img {
    background: rgba(255, 255, 255, 0.2);
    border-color: #13DAEC;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.55);
}

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/

.reveal .controls {
    color: #13DAEC;
}

/*********************************************
 * PROGRESS BAR
 *********************************************/

.reveal .progress {
    background: rgba(0, 0, 0, 0.2);
    color: #13DAEC;
}

.reveal .progress span {
    -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
    -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
    transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
}

/*********************************************
 * PRINT BACKGROUND
 *********************************************/

@media print {
    .backgrounds {
        background-color: #2b2b2b;
    }
}

/*********************************************
 * COLUMNS
 *********************************************/

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.row .column,
.row .inner-column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.row-start {
    break-before: always;
}

.logos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.logo {
    margin: 1rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    justify-content: center;
    background: #2b2e32;
}

.logo img {
    background: #2b2e32 !important;
    display: block;
    max-width:12rem;
    max-height:10rem;
    width: auto;
    height: auto;
    margin: auto !important;
}

.animated.delay-0_5s {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}

.animated.delay-1_5s {
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
}

.animated.delay-2_5s {
    -webkit-animation-delay: 2.5s;
    animation-delay: 2.5s;
}

.animated.delay-3_5s {
    -webkit-animation-delay: 3.5s;
    animation-delay: 3.5s;
}

.animated.delay-4_5s {
    -webkit-animation-delay: 4.5s;
    animation-delay: 4.5s;
}

.animated.delay-5_5s {
    -webkit-animation-delay: 5.5s;
    animation-delay: 5.5s;
}

.animated.delay-6s {
    -webkit-animation-delay: 6s;
    animation-delay: 6s;
}

.animated.delay-6_5s {
    -webkit-animation-delay: 6.5s;
    animation-delay: 6.5s;
}

.animated.delay-7s {
    -webkit-animation-delay: 7s;
    animation-delay: 7s;
}

.animated.delay-7_5s {
    -webkit-animation-delay: 7.5s;
    animation-delay: 7.5s;
}

.animated.delay-8s {
    -webkit-animation-delay: 8s;
    animation-delay: 8s;
}

.animated.delay-8_5s {
    -webkit-animation-delay: 8.5s;
    animation-delay: 8.5s;
}

.animated.delay-9s {
    -webkit-animation-delay: 9s;
    animation-delay: 9s;
}

.animated.delay-9_5s {
    -webkit-animation-delay: 9.5s;
    animation-delay: 9.5s;
}

.animated.delay-10s {
    -webkit-animation-delay: 10s;
    animation-delay: 10s;
}

.animated.delay-10_5s {
    -webkit-animation-delay: 10.5s;
    animation-delay: 10.5s;
}

.content-box {
    font-size: 1.5rem;
}

.content-box .column {
    background: #2b2e32;
    margin: 0.5rem;
    padding: 0.5rem;
}

.content-box strong {
    margin-bottom: 0.25rem;
}

.content-box .inner-column {
    margin-right: 1rem;
}

img.landscape {
    max-width: 85%;
    height: auto;
}

img.portrait {
    max-width: 45%;
    height: auto;
}