<section data-background-image="/la-photo-cellulaire/images/end.jpg">
    <h1>Des questions ?</h1>
    <h3>PS. si vous voulez rencontrer des photographes, venez voir le club de photo Chicoutimi.</h3>
</section>