<section data-background-image="/la-photo-cellulaire/images/moi.jpg">
    <h1>Jean-Pierre Bluteau</h1>
    <h5>Facebook</h5>
    <a>https://www.facebook.com/jean.pierre.bluteau.photographe/</a>
    <h5>Flickr</h5>
    <a>https://www.flickr.com/photos/turkian</a>
</section>