<section>
    <h1>Les limites</h1>
    <div class="row content-box">
        <div class="column">
            <h3>Lumière</h3>
            <p>La lentille est très petite et laisse passer peu de lumière.</p>
        </div>
        <div class="column">
            <h3>focale</h3>
            <p>C'est un grand angle fixe.</p>
        </div>
        <div class="column">
            <h3>Zoom</h3>
            <p>Il n'y a pas de zoom optique sur un cellulaire.</p>
        </div>
        <div class="column">
            <h3>Contrôle</h3>
            <p>Le contrôle dépend de l'application utilisée.</p>
        </div>
    </div>
</section>