<section>
    <div class="row content-box">
        <div class="column">
            <h3>Cadrage</h3>
            <img src="/la-photo-cellulaire/images/regle-cadrage.jpg"></img>
        </div>
        <div class="column">
            <h3>Où couper</h3>
            <img src="/la-photo-cellulaire/images/regle-couper.png"></img>
        </div>
    </div>
</section>