<section>
    <div class="row content-box">
        <div class="column">
            <h3>Règle des tiers</h3>
            <img src="/la-photo-cellulaire/images/regle-tiers.jpg"></img>
        </div>
        <div class="column">
            <h3>Lignes directrices</h3>
            <img src="/la-photo-cellulaire/images/regle-lignes.jpeg"></img>
        </div>
    </div>
</section>