<section data-background-image="/la-photo-cellulaire/images/security.jpg">
    <h1>Toujours en sécurité</h1>
    <div class="row content-box">
        <div class="column">
            <p>Regarder autour pour voir les dangers pour vous et votre modèle</p>
        </div>
        <div class="column">
            <p>Ne pas prendre de risque inutile</p>
        </div>
        <div class="column">
            <p>Ne pas faire de photos sur les rails</p>
        </div>
    </div>
    <div class="row content-box">
        <div class="column">
            <p>Attention aux chutes</p>
        </div>
        <div class="column">
            <p>Regarder où on recule</p>
        </div>
        <div class="column">
            <p>Ne pas photographier directement le soleil</p>
        </div>
    </div>
</section>