<section>
    <h1>Applications</h1>
    <div class="row content-box">
        <div class="column">
            <h3>Android</h3>
            <ul>
                <li>Google caméra</li>
                <li>Moment Pro</li>
                <li>VSCO</li>
            </ul>
        </div>
        <div class="column">
            <h3>IOS</h3>
            <ul>
                <li>Adobe Photoshop Express</li>
                <li>Snapseed</li>
                <li>VSCO</li>
            </ul>
        </div>
    </div>
</section>