<section>
    <h1>Les trucs</h1>
    <div class="row content-box">
        <div class="column">
            <p>Nettoyer la lentille avec un chiffon doux</p>
        </div>
        <div class="column">
            <p>Essayer des applications différentes</p>
        </div>
        <div class="column">
            <p>Jouer avec les différents modes</p>
        </div>
        <div class="column">
            <p>Changer de point de vue</p>
        </div>
    </div>
    <div class="row content-box">
        <div class="column">
            <p>Éviter le zoom numérique</p>
        </div>
        <div class="column">
            <p>Attention aux filtres "Instagram"</p>
        </div>
        <div class="column">
            <p>Regarder le fond en arrière du sujet</p>
        </div>
        <div class="column">
            <p>Chercher la lumière</p>
        </div>
    </div>
</section>