<section data-background-image="/la-photo-cellulaire/images/title-background.jpg">
    <h1>Comment prendre de meilleures photos<br /><small>avec son cellulaire</small></h1>
    <h3>par Jean-Pierre Bluteau</h3>
</section>